<h1>About</h1>

<p>
Quick Sampler is an open-source web application for efficiently and
transparently choosing items at random from a collection.
<p>
It does this by running the SHA-256 pseudo-random sampling algorithm
described publicly in 2011 by Ronald L. Rivest.  The application can be
used for things like selecting precincts at random for a post-election
manual audit.
<p>
For more information about Quick Sampler and Rivest's algorithm,
including the source code for this application, visit the Quick Sampler
<a href="https://github.com/cjerdonek/quick-sampler">project website</a>
on GitHub.
<p>
If you have a suggestion or want to report a problem, you can visit the
<a href="https://github.com/cjerdonek/quick-sampler/issues">issue tracker</a>.
You can also contact the author Chris Jerdonek at
<a href="mailto:chris.jerdonek@gmail.com">chris.jerdonek@gmail.com</a>.
<p>
